*.classpath
.classpath
.idea/.name
.project
*.png
.idea/compiler.xml
*.iml
*.apk
*.class
*.dex
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.navigation/raw/main.nvg.xml
bin/AndroidManifest.xml
*.apk
bin/dexedLibs/android-support-v4-22b7ac6aa9b08e1addbff966a76a3209.jar
*.cache
bin/AndroidManifest.xml
bin/Bazi.apk
*.class
bin/resources.ap_
gen/yunos/tech/panaimin/bazi/BuildConfig.java
.project
.classpath
bin/classes.dex
bin/Bazi.apk
bin/AndroidManifest.xml
gen/yunos/tech/panaimin/bazi/R.java
project.properties
project.properties